<div class="row bud-com-expand" ng-click="budCtr.showHideExpand($index)" ng-init="myIndex=$index" ng-show="budCtr.filterByStatus(person.status)">
<div class="row bud-com text-left">

	<div class="col-xs-5 col-sm-5">
	  <span class="glyphicon glyphicon-star {{budCtr.isFavorit(person.favorit)}}" aria-hidden="true"  ng-click="budCtr.toggleFavorit($event, this)"></span>
	  	 {{person.firstName}} {{person.lastName}}
	</div>

	<div class="col-xs-4 col-sm-5">

		<i class="fa fa-apple {{budCtr.colorByStatus(person.status)}}" aria-hidden="true"></i>		
		{{person.status}} <span>{{budCtr.budDate(person.lastSignIn, person.status)}}</span>

	</div>		

	<div class="col-xs-3 col-sm-2 text-right">
		{{person._id.substr(person._id.length - 5, 10)}}
		<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="budCtr.removeItem($event, this, $index)"></span>
	</div>

</div>

<div class="row text-left expand-show" ng-show="budCtr.persons[$index].expandVisibil">

	<div class="col-xs-10 col-xs-offset-1">
		<h3>
			{{person.firstName + " " + person.lastName}}
		</h3>
	</div>

	<div class="col-xs-10 col-xs-offset-1" ng-init="budCtr.persons[$index].birthday=budCtr.budBirthDate(person.birthday)">
		Born: {{budCtr.budBirthDate(person.birthday)}}
	</div>

	<div class="col-xs-10 col-xs-offset-1">
		Email: {{person.email}}
	</div>

	<div class="col-xs-10 col-xs-offset-1">
		<h4>Bio:</h4>
		{{person.bio}}
		<p>&nbsp;</p>
	</div>

</div>

</div>



