  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add a new buddy</h4>
          <p class="text-left">* Mandetory Fields</p>
        </div>
        <div class="modal-body">
          <!-- Input for new buddies -->

          <!-- First Name -->
          <p ng-hide="budCtr.firstName.warningHide" class="redLoginAlert">{{budCtr.firstName.warning}}</p>
          <div class="input-group input-group-lg">
            <span class="input-group-addon {{budCtr.firstName.alertClass}}" id="sizing-addon2">
              * <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon2" name="firstName" ng-model="budCtr.bufObj.firstName"   maxlength="50" pattern="[A-Z a-z]+" ng-blur="budCtr.lgValidation($event, this);" ng-keypress="($event.which === 13)?budCtr.lgValidation($event, this):0;" required ng-keyup="budCtr.lgValidation($event, this);">
          </div>


          <!-- Last Name -->
          <p ng-hide="budCtr.lastName.warningHide" class="redLoginAlert">{{budCtr.lastName.warning}}</p>
          <div class="input-group input-group-lg">
            <span class="input-group-addon {{budCtr.lastName.alertClass}}" id="sizing-addon2">
              * <i class="fa fa-user-plus" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon2" name="lastName" ng-model="budCtr.bufObj.lastName"  maxlength="50" pattern="[A-Z a-z]+" ng-blur="budCtr.lgValidation($event, this);" ng-keypress="($event.which === 13)?budCtr.lgValidation($event, this):0;" required ng-keyup="budCtr.lgValidation($event, this);">
          </div>


          <!-- Email -->
          <p ng-hide="budCtr.email.warningHide" class="redLoginAlert">{{budCtr.email.warning}}</p>
          <div class="input-group input-group-lg">
            <span class="input-group-addon {{budCtr.email.alertClass}}" id="sizing-addon2">
              * <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <input type="email" class="form-control" placeholder="Email Address" aria-describedby="sizing-addon2" name="email" ng-model="budCtr.bufObj.email" required maxlength="56" ng-blur="budCtr.lgValidation($event, this);" ng-keypress="($event.which === 13)?budCtr.lgValidation($event, this):0;" ng-keyup="budCtr.lgValidation($event, this);">
          </div>


          <!-- Birthday -->
          <p ng-hide="budCtr.dateBirth.warningHide" class="redLoginAlert">{{budCtr.dateBirth.warning}}</p>
          <div class="input-group input-group-lg">
            <span class="input-group-addon {{budCtr.dateBirth.alertClass}}" id="sizing-addon2">
              * <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
            <input type="date" class="form-control" placeholder="YYY-MM-DD Date of Birth" aria-describedby="sizing-addon2" name="dateBirth" ng-model="budCtr.bufObj.birthday" value="1990-01-01" ng-blur="budCtr.lgValidation($event, this);" ng-keypress="($event.which === 13)?budCtr.lgValidation($event, this):0;"  min="1867-01-01"  max="2003-12-31" ng-keyup="budCtr.lgValidation($event, this);" required>
          </div>


          <!-- Bio -->
          <p ng-hide="budCtr.bio.warningHide" class="redLoginAlert">{{budCtr.bio.warning}}</p>
          <div class="input-group input-group-lg">
            <span class="input-group-addon {{budCtr.lastName.alertClass}}" id="sizing-addon2">
              * <i class="fa fa-book" aria-hidden="true"></i>
            </span>
            <textarea  class="form-control" placeholder="Bio" aria-describedby="sizing-addon2" name="bio" ng-model="budCtr.bufObj.bio" ng-blur="budCtr.lgValidation($event, this);" ng-keypress="($event.which === 13)?budCtr.lgValidation($event, this):0;" minlength="1" ng-change="budCtr.lgValidation($event2);" ng-focus="$event2=$event" required  ng-keyup="budCtr.lgValidation($event, this);"></textarea>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">Close</button>
          <button type="button" class="btn btn-default" ng-click="budCtr.enterNewMem($event, this)" data-dismiss="modal" ng-disabled="budCtr.addBtDisabled">Add</button>
        </div>
      </div>    
    </div>
  </div>